@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-size: cover;
    background-image: url(../images/login\ background.png);
}

.container{
    width: 40vw;
    margin: 100px auto;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: 700;
    font-size: 2.5rem;
}

.subheading{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}

.form{
    display: flex;
    justify-content: center;
}

input[type = text], select{
    width: 25vw;
    margin-top: 40px;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 23px;
    box-sizing: border-box;
}

input[type = password], select{
    width: 25vw;
    margin-top: 20px;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 23px;
    display: flex;
    box-sizing: border-box;
}

.btn{
    width: 30%;
    margin: 40px auto;
    background-color: #1a2b75;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.btn:hover{
    background-color: #144964;
}

@media screen and (max-width: 600px){
    body{
        background-image: url(../images/login\ background\ mobile.png);
        background-repeat: no-repeat;
        background-size: 100vh;
    }

    .header{
        display: flex;
        justify-content: center;
        padding: 5vh 0 0 0;
        font-weight: 700;
        font-size: 2rem;
    }
    
    .subheading{
        display: flex;
        justify-content: center;
        font-weight: 200;
        font-size: 15px;
    }

    .container{
        width: 80vw;
        margin: 200px auto;
    }

    input[type = text], select{
        margin-top: 30px;
        width: 70vw;
    }

    input[type = password], select{
        margin-top: 10px;
        width: 70vw;
    }

    .btn{
        margin: 30px auto;
    }
}