{% extends "layout.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/birthdayfinder.css') }}">
{% endblock %}

{% block body %}
    <div class="navbar">
        <h1>Birthday Finder</h1>
        <form action = "/logout">
            <input type = "submit" value = "Logout" class = "button-9">
        </form>
    </div>
    <div class="search">
        <form action="/search">
            <input type="text" required placeholder="Enter Name" name="person_name" id="person_name" autocomplete="off">
            <button class="btn search-btn" type="submit">Search</button>
        </form>
    </div>
    <div class="answer">
        <p><span class="emoji">{{ party_emoji }}</span>{{ text }}<span class="emoji">{{ confetti }}</span></p>
        <p class="error">{{ error_text }}</p>
    </div>
    <div class="upcoming">
        <h1>Upcoming Birthdays this month</h1>
        <ul>
            {% for name in upcoming_list %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}