{% extends "layout.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="navbar">
        <h1>Hello {{name}}</h1>
        <form action = "/logout">
            <input type = "submit" value = "Logout" class = "button-9">
        </form>
    </div>
    <div class="cards">
        <div class="card card1">
            <img src="https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Birthday Finder">
            <div class="card-heading">
                Birthday Finder
            </div>
            <div class="card-desc">
                Find your friend's birthdays!
            </div>
        </div>
    </div>
{% endblock %}
